Copy this file to the password vault and delete it from the server.


|Type user: |User:      | Password:
|OS         |postgres   | {{ hostvars['localhost']['pass_postgres_os'] }}
{% if total_count_servers_group_slave|int >= 1 %}
|OS         |hacluster  | {{ hostvars['localhost']['pass_hacluster'] }}
{% endif %}
|DB         |postgres   | {{ hostvars['localhost']['pass_postgres_db'] }}
{% if total_count_servers_group_slave|int >= 1 %}
|DB         |{{ USER_PRELICA }}    | {{ hostvars['localhost']['pass_replica_db'] }}
{% endif %}
|DB         |{{ USER_TECHNICAL}}  | {{ hostvars['localhost']['pass_tech_user_db'] }}
{% if PG_BACKUP == "on" and  POSTGRES_VENDOR == "postgrespro" %}
|DB         |{{ USER_BACKUP }} | {{ hostvars['localhost']['pass_pro_backup_db']}}
{% endif %}

