
#Для обеспечения внешних подключений: 
{% if PG_BACKUP_TYPE == "sql_backup" and PG_BACKUP == true %}
{%  for host in groups['all'] %}
host    postgres   postgres                {{ hostvars[host].ansible_default_ipv4.address }}/32               trust
{%  if not loop.last %}
{%  endif %}{%  endfor %}
{% endif%}

host    all        all                     {{ ansible_default_ipv4.network }}/{{ mask_cidr }}                 md5

#Для работы агента мониторинга, скрипта управления кластерным ресурсом pgsql, скрипта резервного копирования, 
#консоли СУБД psql, модуля диагностики pg_profile и мониторинга числа соединений к БД:
local   all        {{ USER_TECHNICAL }}                                              md5
{% if PG_BACKUP_TYPE == "pro_backup"  and PG_BACKUP == true %}
local   {{ USER_BACKUP }} {{ USER_BACKUP }}                                             md5
{% endif %}
local   all        postgres                                               peer

#Для создания локальной резервной копии
local   replication     postgres                                          peer 
{% if PG_BACKUP_TYPE == "pro_backup" and PG_BACKUP == true %}
local   replication     {{ USER_BACKUP }}                                        md5
{% endif %}

#Для репликации в рамках кластера и восстановления узлов:
{% for host in groups['all'] %}
host    replication     {{ USER_REPLICA }}            {{ hostvars[host].ansible_default_ipv4.address }}/32               {{ connection_method }}
{% if not loop.last %}
{% endif %}{% endfor %}